<div class="md-12 animate__animated animate__slideInDown">

  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col">
        <h6><i class="fab fa-creative-commons-nc-eu"></i>&nbsp;&nbsp;Pendiente Facturas: {{ pendienteFacturas }} €</h6>
      </div>
      <div class="col">
        <h6><i class="fas fa-hand-holding-usd"></i>&nbsp;&nbsp;Total Donaciones: {{ cantidadRecaudada }} €</h6>
      </div>
      <div class="col">
        <h6><i class="fas fa-cat"></i>&nbsp;&nbsp;Gatos con necesidades: {{ totalCats }}</h6>
      </div>
    </div>
    <hr>

    <div class="row">
      <br>

      <p class="font-weight-light m-0 text-center">Este proyecto se ha desarrollado con el interes de agrupar a todas
        las asociaciones y centros de acogida de la
        isla de Tenerife bajo un mismo portal. También se busca dar la transpariencia adecuada para el estado de los
        animales, gastos médicos y cantidades pendientes de pagar a los veterinarios.

      </p><br>

      <table class="table" style="border-top: solid white; text-align: center;">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Veterinario</th>
            <th scope="col">Intervenciones</th>
            <th scope="col">Pendiente</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let animal of animales; let i = index; let conteo = count">
            <td class="align-middle"><img class="img-thumbnail rounded-lg" style="height: 50px; border: none;"
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true"></td>
            <td class="align-middle">{{ animal.nombre | uppercase }}</td>
            <td class="align-middle">{{ animal.veterinario | uppercase }}</td>
            <td class="align-middle">{{ animal.intervenciones }}</td>
            <td class="align-middle">{{ animal.cantidadPendiente }} €</td>
            <td class="align-middle">
              <button class="btn btn-primary shadow" [routerLink]="['/animal', animal.id]"
                style="border-radius: 25px; border-style: none; background: #FFA800; width: 100%;">DETALLE</button>
            </td>
          </tr>

        </tbody>

      </table>

    </div>
  </div>
</div>
