<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: #FFA800;">
  <a class="navbar-brand" href="#" style="padding: 10px; padding-right: 20px; padding-left: 20px; color: #FFA800;">
    <h2><b>Help The Cats</b></h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/listado']" routerLinkActive="router-link-active"  style="color: #FFA800;">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFA800;">Veterinarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/asociaciones']" routerLinkActive="router-link-active"  style="color: #FFA800;">Asociaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FFA800;">Donaciones</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="#">
    <i class="fas fa-user-lock"></i>
  </a>
</nav>
