<div class="container">

  <div class="row">
    <div class="col">
      <h1>Asociaciones</h1>
      <hr>
      <img src="../assets/images/cabecera_asociaciones.png" class="img-fluid rounded-lg" alt="Responsive image">
    </div>
  </div>

  <div class="row" style="margin-top: 5%;">
    <div class="col">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne"
                class="d-block position-relative text-dark text-uppercase collapsible-link py-2">VALLE COLINO</a></h6>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
            style="border-left: 3px solid #FFA800; margin-top: 1px; border-bottom-right-radius: 5%;"
            class="collapse hide">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <p class="font-weight-light m-0">
                    El Albergue Comarcal Valle Colino dedica su actividad a la protección y defensa de los animales.
                    Rescatamos a los que han sido abandonados e intentamos darles una vida digna en nuestro centro, así
                    como también hacemos todo lo posible para que tengan oportunidad de ser adoptados y encontrar un
                    hogar donde se les cuide.
                    En Valle Colino se les salva, protege y pueden encontrar un nuevo hogar
                  </p>
                </div>

                <div class="col">
                  <p class="font-weight-light m-0">
                  </p>
                  <ul>
                    <li><span class="align-middle"><i class="fab fa-instagram"></i>&nbsp;<a href="https://www.w3schools.com">Instagram</a></span></li>
                    <li><span class="align-middle"><i class="fab fa-twitter"></i>&nbsp;<a href="https://www.w3schools.com">Twitter</a></span></li>
                    <li><span class="align-middle"><i class="fab fa-facebook"></i>&nbsp;<a href="https://www.w3schools.com">Facebook</a></span></li>
                    <li><span class="align-middle"><i class="fas fa-globe"></i>&nbsp;<a href="https://www.w3schools.com">Web</a></span></li>
                  </ul>
                </div>
              </div>




            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</div>
