<div class="container">

  <div class="row">
    <div class="col">
      <h1>Asociaciones</h1>
      <hr>
      <img src="../assets/images/cabecera_asociaciones.png" class="img-fluid rounded-lg" alt="Responsive image">
    </div>
  </div>

  <div class="row" style="margin-top: 5%;">
    <div class="col">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne"
                class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Collapsible Group Item
                #1</a></h6>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
            style="border-left: 2px solid red; margin-top: 1px;" class="collapse show">
            <div class="card-body">
              <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                single-origin coffee nulla assumenda shoreditch et.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</div>
