<div class="container animate__animated animate__fadeIn">

  <div class="row">
    <div class="col">
      <h1>Veterinarios</h1>
      <hr>
      <img src="../assets/images/veterinarios.png" class="img-fluid rounded-lg" alt="Responsive image">
    </div>
  </div>

  <div class="row" style="margin-top: 5%;">

    <div class="col">
      <p class="font-weight-light m-0 text-center">
        Todas las asociaciones de la isla de Tenerife trabajan con diferentes veterinarios situados en cualquier punto
        de la misma. Aquí os dejamos un listado con unos cuantos de ellos: (este listado se irá ampliando).
      </p>
    </div>

  </div>
  <div class="row" style="margin-top: 1%;">

    <div class="col">

      <ul>
        <li class="font-weight-light m-0">Cosultorio Cisev</li>
        <li class="font-weight-light m-0">Cosultorio Quibey</li>
        <li class="font-weight-light m-0">Cosultorio La Salle</li>
        <li class="font-weight-light m-0">Cosultorio Koala Tres de Mayo</li>
        <li class="font-weight-light m-0">Cosultorio Las Indias</li>
      </ul>
    </div>


  </div>

</div>
