/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.navbar {
  background-color: transparent !important;
  font-family: "Poppins";
}

.navbar ul{
  font-family: "Poppins";
}

body{
  font-family: "Poppins";
  font-weight: 400;
}

hr{
  border: 1px solid  #FFA800;
}

textarea {
  resize: none;
}

a{
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

ul{
  list-style-type: none;
}

.colorcoorporativo{
  color: #FFA800;
}


.input_linea{
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #FFA800;
}
