<div class="container">

  <h1>Introduce los datos</h1>
  <hr>

  <div class="row" style="align-content: center;">

    <div class="col-md-6">
      <img src="../assets/images/gatonuevo.png" class="img-fluid rounded shadow" alt="Responsive image">
    </div>

    <div class="col-md mt-2">

      <div class="row">

        <div class="col h-20">
          Por favor introduce todos los datos que se solicitan a continuación, además adjunta una foto y si dispones de
          algún documento como facturas del veterinario.
        </div>

      </div>
      <hr>

      <div class="row h-50">

        <div class="col-md">
          <form (ngSubmit)="saveAnimal(form)" #form="ngForm">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" disabled="disabled" [(ngModel)]="animal.id" name="id" required>
            </div>

            <div class="form-group row">

              <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="animal.nombre" name="nombre" required>
              </div>
              <div class="col">
                <label>Veterinario</label>
                <input type="text" class="form-control" [(ngModel)]="animal.veterinario" name="veterinario" required>
              </div>

            </div>

            <div class="form-group row">

              <div class="col">
                <label>Cantidad Pendiente</label>
                <div class="input-group">
                  <input type="text" class="form-control" [(ngModel)]="animal.cantidadPendiente"
                    name="cantidadPendiente" aria-label="Cantidad Pendiente" aria-describedby="Cantidad Pendiente">
                  <div class="input-group-append">
                    <span class="input-group-text" id="Cantidad Pendiente"><i class="fas fa-euro-sign"></i></span>
                  </div>
                </div>
              </div>

              <div class="col">
                <label>Cantidad Recaudada</label>
                <div class="input-group">
                  <input type="number" class="form-control" min="1" [(ngModel)]="animal.cantidadRecaudada"
                    name="cantidadRecaudada" aria-label="Cantidad Recaudada" aria-describedby="Cantidad Recaudada">
                  <div class="input-group-append">
                    <span class="input-group-text" id="Cantidad Recaudada"><i class="fas fa-euro-sign"></i></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group row">
              <div class="col">
                <label>Intervenciones</label>
                <input type="text" class="form-control" [(ngModel)]="animal.intervenciones" name="intervenciones"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <label>Imagen</label>
                <input type="text" class="form-control" [(ngModel)]="animal.urlImage" name="imgen">
                <label>Factura</label>
                <input type="text" class="form-control" name="facturas">
              </div>
            </div>

            <div class="col" style="margin-top: 7%;">
              <button type="submit" class="btn btn-primary shadow"
                style="border-radius: 25px; border-style: none; background: #FFA800; width: 100%; bottom: 0;">GUARDAR</button>
            </div>


          </form> <!-- FIN FORM -->
        </div> <!-- FIN COL -->
      </div> <!-- FIN ROW -->


    </div>

  </div>



</div>
