<h1>New Boost</h1>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/heroes">
      <i class="fa fa-arrow-left"></i>
      Cancel
    </button>
  </div>
</div>

<div class="row">
  <div class="col">

    <form (ngSubmit)="saveAnimal(form)" #form="ngForm">
      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" class="form-control" disabled="disabled" [(ngModel)]="animal.id" name="id" required>
      </div>

      <div class="form-group row">
        <div class="col">
          <label>Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="animal.nombre" name="nombre" required>
        </div>
        <div class="col">
          <label>Veterinario</label>
          <input type="text" class="form-control" [(ngModel)]="animal.veterinario" name="veterinario" required>
        </div>
        <div class="col">
          <label>Intervenciones</label>
          <input type="text" class="form-control" [(ngModel)]="animal.intervenciones" name="intervenciones" required>
        </div>
        <div class="col">
          <label>Cantidad Pendiente</label>
          <input type="text" class="form-control" [(ngModel)]="animal.cantidadPendiente" name="cantidadPendiente"
            required>
        </div>
        <div class="col">
          <label>Cantidad Recaudada</label>
          <input type="text" class="form-control" [(ngModel)]="animal.cantidadRecaudada" name="cantidadRecaudada"
            required>
        </div>
      </div>

      <hr>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>


    </form>


  </div>


</div>
